body {
font-family: 'Jura', sans-serif;
}

.main-wrapper {
  width: 50%;
  height: 100vh;
  margin: 0 auto;
}
.main-wrapper.dark-mode {
  color: white;
  background-color: #2f2f2f;
}
.main-wrapper.light-mode {
  color: black;
  background-color: white;
}

header {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(to right bottom, #ff4500, #ff4047, #f44c70, #de5f8e, #c2719f);
}
header .toggle {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 30px;
  margin-top: 10px;
}
header .toggle i {
  font-size: 40px;
}
header #month-container,
header #week-container {
  display: flex;
  align-items: center;
  /* background-color: orangered; */
}

header #month-container {
  height: 20vh;
  flex-direction: row;
  justify-content: space-evenly;
}
header i {
  font-size: 60px;
  color: #2f2f2f;
}
header #month-container i:hover {
  color: rgba(0, 0, 0, 0.5);
}
header #week-container {
  height: 13vh;
  justify-content: space-around;
}
header #week-container span {
  font-size: 18px;
  color: #2f2f2f;
  font-weight: bold;
}
#week-container .white {
  color: white;
}

h1 {
  text-align: center;
  font-size: 35px;
  width: 300px;
}

ul {
  list-style: none;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: calc(100% / 7);
  height: calc(60vh / 5);
  font-size: 25px;
  border: 1px dotted whitesmoke;  
}
ul li.dark-dot {
  border: 1px dotted black; 
}


/* Classe JS - per colore giorni festività */
.red {
  color: orangered;
}




























/* ******************** CSS - General Style Rules ******************** */

/* GENERAL RULES (reset) - start */
general rules {}
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
  }
  body div, span, ul, a {
    font-family: 'Open Sans', sans-serif;
  }

  img {
    width: 100%;
  }
/* GENERAL RULES (reset) - end */



/* CLASS PROPERTIES - start rules */
class_properties {}
  .float {
    float: left;
  }
  .clearfix::after {
    content: "";
    display: table;
    clear: both;
  }
  .transform {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  .text-bold {
    font-weight: 700;
  }
  ul.list-unstyled {
    padding-left: 0;
    }
    ul.list-unstyled li {
      display: inline-block;
      list-style: none;
    }
    ul.list-unstyled li a {
      text-decoration: none;
    }
/* CLASS PROPERTIES - end rules */



/* BASE LAYOUT - inizio */
regole layout {}
/* BASE LAYOUT - fine */



/* COMPONENTS (reusable) - start rules */
components {}
  components
/* COMPONENTS (reusable) - end rules */



/* NAVBAR - start rules */
nav {}
  nav {}
/* NAVBAR - end rules */


/* HEADER - start rules */
header {}
  header {}
/* HEADER - end rules */


/* MAIN - start rules */
main {}
  main {}
/* MAIN - end rules */


/* FOOTER - start rules */
footer {}
  footer {}
/* FOOTER - end rules */



/* MEDIA QUERY -start rules */
@media query {}
  /* Media Query - xs  */
  @media all and (max-width: 767px) {}

  /* Media Query - sm  */
  @media all and (min-width: 768px) and (max-width: 991px) {}

  /* Media Query - md  */
  @media all and (min-width: 992px) and (max-width: 1199px) {}

  /* Media Query - lg  */
  @media all and (min-width: 1200px) {}
/* MEDIA QUERY -end rules */
